@import url('https://fonts.googleapis.com/css?family=Lora:400,400italic,700|Montserrat:400,700');

body {
  color: #494949;
  font-size: 18px;
  line-height: 1.6;
  font-weight: lighter;
  font-family: 'Lora', serif;
  text-align: justify;
  margin: 0;
}
h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}
h2 {
  color: #A0A0A0;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #4352A1;
}
/*Custom design*/
.banner {
  background-image: url('https://source.unsplash.com/random');
  background-size: cover;
  line-height: 50px;
  padding: 120px 0;
}
.banner h1 {
color: white;
}
.banner h2 {
  color: rgba(255,255,255,0.8);
}
.container {
  width: 800px;
  margin: 50px auto;
}
.link-medium {
  background-color: rgba(233, 253, 240, 1);
  color: #636363;
  font-weight: lighter;
  font-size: 25px;
  font-style: italic;
}
.link-medium:hover {
  background-color: rgba(125, 255, 179, 1);
}


/*Media Queries*/
@media(max-width: 992px) {
  .container {
    width: 700px;
  }
}
@media(max-width: 768px) {
  .container {
    width: 450px;
  }
}
@media(max-width: 576px) {
  .container {
    width: 350px;
  }
  .banner {
/*    padding: 20px 0;*/
  }
  .banner h1 {
    font-size: 30px;
  }
  .banner p {
    font-size: 20px;
  }
}
